.buttons-conatiner{
    border-radius: 20px;
    height: 30px;
    color: #fff;
    display: flex;
    background-color: #fff;
    color: black;
    align-items: center;
    padding: 2px;
}

.buttons-conatiner p{
    min-width: 50px;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}