.single-product{
    box-sizing: border-box;
    height: 300px;  
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px 15px;
    cursor: pointer;
}

.product-img{
    width: 150px;
    height: 150px;

}

